<style>
  .swiper-grand {
    overflow: hidden;
  }
  .slider-wrapper {
    width: 100vw;
    height: 100vh;
  }
  .swiper-button-next {
    color: white;
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 20px;
  }
  .swiper-button-prev {
    color: white;
  }
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 20px;
  }
</style>
<div class="horizontal-slide swiper-slide">
  <div class="slider-wrapper">
    {% # Vertical Swiper – triggered when a new BLOCK is added inside the fullpage-slider.liquid section %}
    {% render 'vertical-swiper' %}
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<script src="{{ 'main-section.js' | asset_url }}" defer></script>

{% schema %}
  {
    "name": "Slider",
    "class": "slider",
    "settings": [],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "slide_image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "slider_title",
            "label": "Slider Title",
            "default": "<h1>UPTO 50% OFF</h1>"
          },
          {
            "type": "textarea",
            "id": "slider_tagline",
            "label": "Tagline",
            "default": "UPTO 50% SALE ON SELECTED STYLES"
          },
          {
            "type": "url",
            "id": "slider_url",
            "label": "URL"
          }, {
            "type": "text",
            "id": "slider_collection",
            "label": "Slider Collection",
            "default": "Men's"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slider",
        "settings": {},
        "blocks": [
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}