{% if collection.products_count > 0 %}
  <div class="collection">
    <h1 class="collection-title">{{ collection.title }}</h1>
    <div class="collection-products__grid">
      {% for product in collection.products %}
        <div class="product-{{product.id}}">
          {% render 'product-card', product: product %}
        </div>
      {% endfor %}
    </div>
  </div>
{%- else -%}
  <h1 class="result-not_found">No Products Found!</h1>
{% endif %}

<style>
  .collection {
    max-width: var(--narrow-page-width);
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .collection-products__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 15px;
  }

  .collection-title {
    margin: 30px 0;
    font-weight: 500;
    font-size: var(--font-size-xl);
  }

  .product_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .result-not_found {
    text-align: center;
    font-size: var(--font-size-xl);
    font-weight: 500;
  }
  @media (max-width: 768px) {
    .collection {
      width: 100%;
    }
  }
</style>
