{% form 'reset_customer_password' %}
  {{ form.errors | default_errors }}

  <div className="email">
    <label for="email">Email</label>
    <input type="email" name="email" />
  </div>

  <div className="submit">
    <input type="submit" value="Submit" />
  </div>
{% endform %}