.theme__footer {
  padding-top: 20px;
  position: relative;
  height: auto;
}
.footer-wrapper {
  height: 100%;
}
.footer__grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
  padding: 20px 40px;
  gap: 20px;
  border-top: 1px solid #6e6e6e99;
  color: black;
  height: 100%;
}
.ns {
  height: 100%;
  margin-bottom: 100px;
}
.newsletter_title h3 {
  font-size: var(--font-size-lg);
}
.footer_newsletter {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.newsletter-email {
  position: relative;
  width: 400px;
  margin: 15px auto;
}
.newsletter-email input {
  border-bottom: 1px solid #6e6e6e99;
  padding: 10px;
  width: 100%;
}
.newsletter-email input::placeholder {
  font-size: var(--font-size-sm);
}
.newsletter-email button {
  position: absolute;
  top: 22%;
  right: 0;
}
.footer__grid > ul:nth-child(3) {
  text-align: right;
}

.footer__grid > ul:nth-child(3) li:hover {
  transform: translateX(-8px);
}

.footer__menu_list {
  height: auto;
  width: 100%;
}

.footer__logo {
  width: 100%;
  text-align: center;
}

.footer__menu_list li {
  list-style-type: none;
  padding: 5px 0;
  transition: 0.3s ease-in-out;
}

.footer__menu_list li:hover {
  transform: translateX(8px);
}

.footer_menu_item {
  text-decoration: none;
  margin: 20px 0;
  font-size: var(--font-size-sm);
}

.copyright_text {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  grid-column: 1 / span 3;
}

.copyright_text p {
  text-align: center;
  font-size: var(--font-size-sm);
}
@media (max-width: 768px) {
  .footer__grid {
    grid-template-columns: 1fr;
  }
  .footer__logo img {
    width: 120px;
    height: auto;
  }
}
