header {
  overflow: hidden;
}
header .fixed-header {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 50;
  width: 100%;
  z-index: 99;
  width: var(--narrow-page-width);
}
.theme_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header_left {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header_actions {
  display: flex;
  align-items: center;
  gap: 25px;
}
.cart-header_btn {
  position: relative;
}
.cart_item-count {
  font-size: 10px;
  position: absolute;
  top: -10px;
  right: -10px;
  color: #fff;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  font-weight: 600;
  height: 22px;
  width: 22px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
