.login{
    max-width: var(--narrow-page-width);
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
.login-title{
    font-size: var(--font-size-xl);
}
.login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}