.product__card {
  width: 100%;
  position: relative;
}
.product__link {
  position: relative;
}
.product-image-container {
  position: relative;
  overflow: hidden;
}
.product_images {
  position: relative;
}
.product_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  margin-bottom: 0;
}

.product_title {
  padding: 8px 0;
  font-size: var(--font-size-sm);
  font-weight: 500;
}
.compare_at_price {
  text-decoration: line-through;
}
.product_prices {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  position: relative;
}
.product_prices span {
  font-size: 13px;
}
.product_prices p {
  color: #ef2d2d;
}
.product_on-sale {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ef2d2d;
  color: white;
  padding: 4px 6px;
}
.product_soldout {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(75, 75, 75);
  color: white;
  padding: 4px 6px;
}
.product_quick-actions {
  position: absolute;
  z-index: 99;
  bottom: 94px;
  right: 10px;
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: fit-content;
}
.product-vendor span{
  color: rgb(105, 105, 105);
  font-size: var(--font-size-xs);
  margin: 8px 0;
}
.product__card:hover .product_quick-actions {
  opacity: 1;
}
.quick_add {
  font-size: 13px;
  background-color: #ffffff;
  color: #000;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid #ffffff;
  transition: 0.3s ease-in-out;
  width: 60px;
  height: 30px;
  padding-top: 2px;
  border-radius: 20px;
  margin: auto 0;
}
.swiper {
  width: 100%;
  height: 280px;
}
@media (max-width: 768px){
  .product_image{
    object-fit: contain;
  }
}